#DocFinder {
  font-size: 120px;
  font: Arial;
  text-align: center;
  color: #1985A1;
}


input[type=text] {
    width: 300px;
    height: 50px;
    opacity: .9;
    box-sizing: border-box;
    border: 2px solid #DCDCDD;
    border-radius: 4px;
    font-size: 16px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    text-align: center;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 50%;
}

.search {
  font: Arial;
  text-align: center;
  color: #875785;
}

::-webkit-input-placeholder {
   font-size: 15px!important;
}

button#find {
  color: #DCDCDD;
  background-color: #46494C
}

#tagline {
  font: Arial;
  text-align: center;
  font-size: 30px;
  color: #46494C;
}
