#commandheader {
  font-size: 80px;
  text-align: center;
  color: #1985A1;
}

#commandtag {
  font-size: 40px;
  text-align: center;
  color: #46494C;
}

#commands {
  font-size: 24px;
  text-align: center;
  color: #46494C;
}

@media screen and (max-width: 800px) {
  #commandheader {
    font-size: 20px;
    line-height: normal;
  }

  #commandtag {
    font-size: 16px;
    line-height: normal;
  }

  #commands {
    font-size: 12px;
    line-height: normal;
  }
}
