#mainheader {
  font-size: 105px;
  color: #1985A1;
}

.photo {
  text-align: center;
}

img {
  text-align: center;
  width: 650px;

}

#caption {
  font-size: 12px;
  color: #4C5C68;
}

p {
  font: Arial;
  text-align: center;
  font-size: 25px;
  padding-left: 300px;
  padding-right: 300px;
  color: #46494C;
}
